.timer {
    margin: 0 auto;
    padding: 2em 0;
    text-align: center;

	div {
		background: #0e0e0e;
		border: solid 10px #0a0a0a;
		border-bottom-width: 0;
		box-shadow: 2px 2px 2px #000, inset 0 0 10px #000;
		display: inline-block;
		margin: 0.5em;
		padding: .25em .25em 1.5em;
		position: relative;
		text-align: center;
		width: 6em;
	}

	.time {
		color: #666;
		font-size: 1.5em;
		line-height: 2em;
		text-shadow: 0 0 5px #000;
		border-radius: 1px;
	}

	.time-label {
		background: #0a0a0a;
		font-size: .9em;
		font-variant: small-caps;
		letter-spacing: 1px;
		padding: .5em 0;

		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
	}
}
