// .grid-head {
	
// 	@extend .clearfix;
// }

.component-grid {
	background: #fafafa;
	height: 100%;
	position: relative;

	@extends .clearfix;

	.grid-controls-wrapper {
		@extends .clearfix;

		background: #825dd7;
		padding: .5em;
		margin-bottom: 1em;
		box-shadow: 0 5px 10px rgba(0,0,0,.1);
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: 111;
	}

	.grid-controls-wrapper .controls {
		float: left;
		width: 140px;

		button {
			color: white;
			width: calc(50% - 4px);
		}
	}

	.grid-controls-wrapper .formula-input-wrapper {
		float: left;
		width: calc(100% - 140px);

		input {
			width: calc(100% - 84px);
		}

		button {
			color: white;
			width: 80px;
		}
	}

	.grid-content-wrapper {
		overflow: auto;
		padding-top: 4em;
		height: 100%;
	}
}