#app-cover-page {
    position: relative;
    height: 100%;
}

.cover-page {
    height: 100%;
    overflow: hidden;
}

.fractal-tree {
    width: 50%;
    float: left;
    background: rgba(0,0,0,.8)
}

#ankush {
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 6em;
    font-family: sans-serif;
    transform: translate(-50%, -50%);
    color: #fafafa;
}
