#app-cover-page {
    position: relative;
    height: 100%;
}

.cover-page {
    height: 100%;
    overflow: hidden;
}

.fractal-tree {
    width: 50%;
    float: left;
    background: rgba(0,0,0,.8)
}

#portfolio-name {
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 6em;
    font-family: sans-serif;
    transform: translate(-50%, -50%);
    color: #fafafa;
    text-align: center;

    div {
        transition: all .5s linear;
    }
    div:first-child {
        transform: translate(-.5em, 1em);
    }

    div:last-child {
        transform: translate(.5em, -.5em);
    }

    &:hover {
        div:first-child {
            transform: translate(.5em, 0em);
        }

        div:last-child {
            transform: translate(0em, -.5em);
        }

    }
}
