#app-cover-page {
    position: relative;
    // height: 100%;
}

.cover-page {
    overflow: hidden;
}

#portfolio-name {
    position: absolute;
    left: 0%;
    top: 50%;
    font-size: 6em;
    transform: translateY(-50%);
    color: #444;

    div {
        text-shadow: 0 0 20px rgba(0,0,0,.2);
        transition: all .5s linear;
    }

    div:first-child {
        transform: translate(.5em, 1.25em);
    }

    div:last-child {
        transform: translate(.5em, -.5em);
    }

    &:hover {
        div:first-child {
            transform: translate(.5em, 0em);
        }

        div:last-child {
            transform: translate(0em, -.25em);
        }

    }
}
